*,
*::after,
*::before {
  box-sizing: border-box;
}


.page-body {
  margin: 0;
  padding: 0;
}

.header-conteiner {
  font-family: sans-serif;
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  font-size: 80px;
  line-height: 94px;
  display: inline-block;
  vertical-align: middle;
  margin-top: 61px;
  margin-bottom: 38px;
  color: black;
}

.logo-color {
  color: #4BCAFF;
}

.nav-menu {
  background: #35444F;
  margin-bottom: 50px;
}

.nav-menu__items {
  width: 1238px;
  min-height: 72px;
  display: flex;
  justify-content: center;

  flex-wrap: wrap;

}

.nav-menu__items-list {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  line-height: 28px;
  border-left: 1px solid #fff;
  padding-left: 35px;
  padding-right: 35px;
}

/* nav-menu__items-list:first-child {
  margin-left: 154px;
} */

.nav-link {
  color: #fff;
}

.sidebar {
  background-color: blue;
  width: 344px;
  height: 399px;
  display: flex;

}

.main-content {
  width: 1280px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin-left: auto;
  margin-right: auto;
}

.main-img {
  /* left: 297px;
  top: 75px; */
  width: 885px;
  height: 529px;
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #000000;
  display: flex;
  justify-content: center;
  align-items: center;

}

.image {
  display: block;
  width: 320px;
  height: 381px;

}

.content {
  display: flex;
  flex-wrap: wrap;
  width: 885px;
  flex-direction: column;
  background-color: chocolate;
}

.footer {
  background-color: cyan;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.footer-menu {
  display: flex;

}

.footer-menu-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.footer-menu-items {
  font-size: 28px;
  line-height: 28px;
  color: #0C1927;
  display: flex;
}