body {
    margin: 0;
    padding: 0;
}

.container {
    width: 1280px;
    margin: 0 auto;
    max-height: 1282px;
}

a {
    color: black;
    text-decoration: none;
}

.ramda-logo {
    height: 74px;
    width: 292px;
    font-size: 80px;
    font-family: AdobeInvisFont, ﻿Courier, MyriadPro-Regular, sans-serif;
}

span {
    color: #4bcaff;
}

.nav-menu {
    height: 69px;
    width: 1280px;
    font-size: 22px;
    margin-top: 45px;
    text-align: right;
    background-color: #35444f;
}

.nav-menu-text{
    color: white;
    display: block;
    padding: 22px 16px;
    margin-right: 82px;
    text-decoration: none;
    font-family: AdobeInvisFont, ﻿Courier, ﻿MyriadPro-Regular, sans-serif;
}

.nav-menu-text:hover {
    height: 25px;
    margin-top: -1px;
    border: 1px solid;
    background-color: #222f3a;
    border-left-color: #818181;
    border-right-color: #818181;


}

.horizontal-1{
    display: inline-block;
}

.centre-block{
    width: 1280px;
    height: 800px;
    margin-top: 45px;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

.menu {
    padding: 0;
    float: left;
    width: 344px;
    height: 399px;
    margin: 0 auto;
    text-indent: 44px;
    vertical-align: top;
    border: 1px solid #35444f;
}
ol > li {
    display: block;
    padding-top: 33px;
}


.vertical-text {
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    color: rgba(72, 88, 99, 255);
}

.vertical-text:hover {
    display: block;
    background-color: #dbdbdb;
}

.pictures {
    width: 885px;
    height: 529px;
    display: inline-block;
    border: 1px solid #35444f;
    overflow: hidden; /*добавил*/

}

.right-block {
    float: right;
    width: 885px;
    max-height: 835px;
    vertical-align: top;
    display: inline-block;

}

.photo {
    width: 320px;
    height: 381px;
    margin: 75px 268px 73px 297px;
    transition: 1s; /*добавил*/
    display: block; /*добавил*/
}
.photo:hover {
    transform: scale(1.1); /*добавил*/
}



p {
    font-size: 16px;
    text-align: left;
    font-weight: bold;
    letter-spacing: -0.5px;
    color: rgba(44, 44, 44, 255);
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿MyriadPro-Regular, sans-serif;
}
.text {
    width: 820px;
    height: 253px;
    margin: 0 auto;
}

.footer-text {
    display: inline-block;
}

footer {
    height: 69px;
    width: 1280px;
    font-size: 28px;
    text-align: left;
    display: inline-block;
    background-color: #b4b7ba;
    color: rgba(12, 25, 39, 255);
    font-family: AdobeInvisFont, ﻿Courier, ﻿MyriadPro-Regular, sans-serif;
}

.footer-list {
    width: 809px;
    height: 29px;
    display: inline-block;

}
.horizontal-2 {
    display: inline-block;
}

.footer-text {
    font-size: 20px;
    text-align: left;
    padding-left: 20px;
    vertical-align: top;
    letter-spacing: -0.5px;
    color: rgba(12, 25, 39, 255);


}
.copyright {
    float: right;
    width: 175px;
    margin: 28px;
    height: 23px;
    font-size: 16px;
    text-align: left;
    display: inline-block;
    color: rgba(1, 1, 1, 255);

}

.footer-text:hover {
    color: #3181a6;
    text-decoration: underline;
}
